extends layout

block content
      each photo in photos
        div.single-photo-wrapper  
          h2.single-photo-heading= photo.title 
          img.single-image(src=`data:${photo.contentType};base64,${photo.data}`) 
          div.single-photo-description-wrapper
             h2.single-photo-description= photo.description
          div.single-photo-upvote-wrapper
             button.fa.fa-camera-retro.vote
             h1.single-photo-votes= photo.votes
