extends layout

block content
  .page-header
    h2#main
      img(src=`data:${photoModel.contentType};base64,${photoModel.data}`)
     
      p= photoModel.votes + ' votes'
      div.voting
        if photoModel.hasUser
          if photoModel.canUpvote
            button.fa.fa-camera-retro.vote Vote
          else 
            button.fa.fa-thumbs-down.unvote Unvote

      ul 
        each comment in photoModel.comments
          li= comment.content

      if photoModel.hasUser
        form.form-horizontal(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            .col-sm-7
              input.form-control(type='text', name='content', id='content', autofocus, required)
          .form-group
            .col-sm-offset-3.col-sm-7
              button.col-sm-3.btn.btn-primary(type='submit')
                i.fa.fa-user
                | Comment