extends layout

block content
      each photo in photos
        div.single-photo-wrapper  
          a.single-photo-heading(href=`/photo/details/${photo.id}`)= photo.title
          p Posted by <span class="glyphicon glyphicon-user"></span>
            a(href=`/profile/${photo.author}`) #{photo.author}
            span  on <span class="glyphicon glyphicon-time"></span> #{photo.date}</p>
          a(href=`/photo/details/${photo.id}`)
            img.single-image(src=`data:${photo.contentType};base64,${photo.data}`) 
          div.single-photo-description-wrapper
             h2.single-photo-description= photo.description
          div.single-photo-upvote-wrapper
             button.fa.fa-camera-retro.vote
             h1.single-photo-votes= photo.votes
